.principal {
    padding: 0;
    margin: 62px;
    margin-top: 17px;
    display: flex;
    justify-content: center;
    background-color: ;
}

body {
    padding: 10px;
    margin: 0px;
}

header {
    background-color: ;
    width: 100%;
    display: flex;
    justify-content: left;
}

.logo {
    width: 48px;
    max-height: 25px;
}

.buscar {
    position: relative;
    left: 20px;
    top: -10px;
    width: 30%;
    padding: ;

}
