.principal {
    padding: 0;
    margin: 7vw;
    margin-top: 17px;
    display: flex;
    justify-content: center;
}

body {
    padding: 10px;
    margin: 0px;
}

header {
    background-color: ;
    width: 100%;
    display: flex;
    justify-content: left;
}

.logo {
    width: 48px;
    max-height: 25px;
    cursor: pointer;
}

.barradepesquisa {
    width: 100%;
    display: inline;
}

.buscar {
    position: relative;
    font-size: 16px;
    left: 18px;
    top: -20px;
    width: 41.5%;
    font-family: "Nunito Sans", sans-serif;
    padding: 12px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.buscar:hover {
    border: 2px solid #ccc;
    margin: 7px 0;
}

.linha {
    background-color: #8994a9;
    position: absolute;
    left: 6px;
    top: 5px;
    height: 35px;
    width: 1px;
}

.tudolocalizacao {
    position: relative;
    right: 145px;
    top: -12px;
    border: 2px solid transparent;
    display: inline-flex;
    cursor: pointer;
    box-sizing: border-box;
}

.localizacao {
    position: relative;
    left: 10px;
    width: 100px;
    padding: 10px 16px;
    border-radius: 8px;
    border: 2px solid transparent;
    display: inline-flex;
    cursor: pointer;
    box-sizing: border-box;
}

.localizacao:hover {
    border-color: #ccc;
}

.localizacaoimagem {
    position: relative;
    left: -12px;
}

.localizacaoopcoes {
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    text-align: center;
    padding: 0;
}

select {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.seta {
    max-height: 9px;
    position: relative;
    top: 8px;
    left: 40px;
}

.pesquisar {
    position: relative;
    top: 15px;
    left: 20px;
    width: 20px;
    max-height: 20px;
}   

.planoprofissa {
    display: inline;
    position: relative;
    width: 1%;
    height: 100%;
    cursor: pointer;
}

.planoprofissa:hover {
    color: #6F22D0;
    transition: 0.3s;
}

.planotexto {
    position: relative;
    top: -22px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-align: right;
}

.maleta {
    width: 22px;
    max-height: 20px;
}
